*{margin:0;
  padding:10;}
  
h1{color:orange;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding-bottom: 10px;}

body{background-color:black;
    color:orange; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    margin: 0px}

a{color:palevioletred;
  text-decoration: none;}

a:hover{color:red}

a:active{color: orange}

.container{width: 80%;
           margin: auto;
           border-right: 5px orange double;
           border-left:  5px orange double;
           padding-right: 10px;
           padding-left: 10px;
           margin-top: 20px;
           margin-bottom: 50px;
           text-align: center;}
